<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>Auto Suggestion</title>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>
<body>


<script type="text/javascript">
$(document).ready(function(){
    $("#do").on('change  paste', function(){
    $.ajax({
            url: '/signUpUser',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });



     });
    });





</script>



<h1>Auto suggestion</h1>

<input list="do you mean"  name="inp" id="do" autocomplete="off">
<datalist id="do you mean">
<option id="drop"></option>



</datalist>

  <label name="here"></label>

<button id="forwardBtn" >Forward</button>
    </form>
<!--<div id="out" class="ot" style="background:#dde0db;width:25%;height:20%;border: 2px solid #d4dbdb;-->
    <!--border-radius: 7px;">output</div>-->
<div id="outbox"></div>
<div  id="out" style="background:#dde0db;width:25%;height:20%;border: 2px solid #d4dbdb;border-radius: 7px;">suggested:</div>;

</body>
</html>